In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect="True")

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [9]:
# Check Measurement data for reference

inspector = inspect(engine)
columns = inspector.get_columns('measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

# Exploratory Precipitation Analysis

In [10]:
# Find the most recent date in the data set.

session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23',)

In [26]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
most_recent = dt.datetime(2017, 8, 23);

# Calculate the date one year from the last date in data set.
prior_year = most_recent - dt.timedelta(days=365);

# Perform a query to retrieve the date and precipitation scores
year_prcp = session.query(Measurement.date, Measurement.prcp).\
    filter(func.strftime(Measurement.date >= prior_year)).\
    filter(func.strftime(Measurement.date <= most_recent)).\
    order_by(Measurement.date).all()

# Save the query results as a Pandas DataFrame. Explicitly set the column names
columns = ['date','precipitation']
precipitation_df = pd.DataFrame.from_records(year_prcp,columns=columns,index='date').dropna()
precipitation_df.dropna()

# Sort the dataframe by date
precipitation_df.sort_values(by=['date'])


# Use Pandas Plotting with Matplotlib to plot the data
precipitation_df.plot.bar()
plt.tight_layout()
plt.show()


# tick_locations = 

# plt.title("precipitation")
# plt.xlabel("date")
# plt.ylabel("inches")

# plt.xlim(-0.75, len(gyms)-.25)
# plt.ylim(0, max(members) + 5)

# plt.bar(precipitation_df['date'], precipitation_df['precipitation'], align="center")
# plt.xticks(tick_locations, gyms)
# plt.show()

KeyError: "None of ['date'] are in the columns"

In [12]:
# Use Pandas to calculate the summary statistics for the precipitation data
precipitation_df.describe()

       preciptation
count   2015.000000
mean       0.176462
std        0.460288
min        0.000000
25%        0.000000
50%        0.020000
75%        0.130000
max        6.700000

# Exploratory Station Analysis

In [13]:
# Check Station data for reference
    
inspector = inspect(engine)
columns = inspector.get_columns('station')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [14]:
# Design a query to calculate the total number of stations in the dataset
total_stations = session.query(Station.name).distinct().count()
total_stations

9

In [23]:
# Design a query to find the most active stations (i.e. which stations have the most rows?)
# List the stations and their counts in descending order.

counts = [Station.name,
         func.count(Measurement.id)]

active_stations = session.query(*counts).\
    group_by(Measurement.id).\
    order_by(Measurement.id.func.count(Measurement.id)).distinct().all()
active_stations
# for station in active_stations:
#     print(Station.name, (Measurement.id).distinct().count())

NameError: name 'group_by' is not defined

In [16]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.
    
busybusy = [func.]

SyntaxError: invalid syntax (346370414.py, line 3)

In [17]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close Session

In [ ]:
# Close Session
session.close()